<!DOCTYPE html>
<html>
<head>
  <title>CkeditorExample</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= javascript_include_tag :ckeditor %>
</head>
<body>

<%= yield %>

</body>
</html>
